# Dataset files
data/*.csv
data/*.txt
data/*.zip
data/*.pcap
data/*.md5

# Generated outputs and models
results/
*.tflite
*.keras
*.h5
*.png
*.jpg
*.jpeg
*.pdf

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Jupyter / IDE
.ipynb_checkpoints/
.vscode/
.idea/
